nav {
  padding: 10px;
  background-color: rgba(166,191,133, 0.9);
  display: flex;
  justify-content: center;
}
.link {
  text-decoration: none;
  color: #6b5495;
  font-weight: bolder;
  padding: 10px 30px;
}
.links {
  display: flex;
  margin-left: 30px;
}
.icon {
  width: 40px;
}
.navIcon {
  flex: 1
}
.container {
  width: 800px;
  margin: 0 auto;
}
.btnContainer {
  display: flex;
  justify-content: center;
}